@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #222;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p,
ul,
ol,
li {
    font-size: 1.1em;
    line-height: 1.5em;
}

ul,
ol {
    margin-left: 40px;
}

a {
    color: #2ecc71;
    text-decoration: underline;
}

video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navigation a {
    color: #2ecc71;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.navigation a:hover {
    text-decoration: underline;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background: #2ecc71;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
}

.file-input {
    display: none;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #2ecc71;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.screenshot {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #2ecc71;
    border-radius: 10px;
}

.screenshot-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;

}

#m {
    width: 310px;
    height: 500px;
    margin-left: 20px;
}

#i {
    width: 400px;
    height: 500px;
    margin-left: 10px;
}
#d {
    width: 500px;
    height: 500px;
}
marquee{
    color: #2ecc71;
}